@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,900');
@import url("./normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header, .news-container, .spec, .footer {
    width: 1200px;
    margin: 0 auto;
}

/* link style */
a {
    color: inherit;
    text-decoration: none;
}

.container {
    background: #fff;
}

.header {
    background: #fff;
    height: 90px;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* overflow: hidden; */
}

.logo {
    position: absolute;
    top: 35px;
    left: 34px;
}

.logo img {
    width: 70px;
    height: 25px;
}

.navigation {
    position: absolute;
    left: 235px;
    line-height:90px;
}

.menu-item {
    float: left;
    padding: 0 25px;
    position: relative;
}

.menu-item:hover .sub-menu{
    display: block;
    position: absolute;
    width: 667px;
    left: calc(-50% - 250px);
    text-align: center;
    z-index: 10;
}

.sub-menu {
    display: none;
}

.menu-item:hover .sub-menu-bg{
    display: block;
}

.sub-menu-bg {
    position: fixed;
    width: 100vw;
    top:90px;
    left: 0;
    height: 90px;
    background: #d5d5d5;
    display: none;
    z-index: 0;
}

.sub-menu-item {
    display: inline-block;
    margin: 0 7px;
}

.site-map{
    float: right;
    line-height:90px;
    padding: 0 33px;
    color: silver;
    font-weight: 700;
}

.language-menu{
    float: right;
    padding: 33px;
    color: silver;
    overflow: hidden;
}

.main {
    background: orange;
    font-family: 'Nanum Gothic', sans-serif;
}

.visual {
    width: 100%;
    height: 70vh;
    background: pink;
    text-align: center;  
    color: #fff;
}

.slogan {
    font-size: 60px;
    font-weight: 900;
    padding-top: 30vh;
    padding-bottom: 50px;
}
a.mission-link {
    display: inline-block;
    width: 180px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 30%;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 45px;
}

.section-title {
    float: left;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
}

.more-news-link {
    float: right;
    padding-right: 30px;
}

.news-container {
    margin: 70px auto;
}

.news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    clear: both;
}

.news-item {
   width: 550px;
   margin: 10px 0;
}

.news-title {

}

.footer {
    background: yellow;
    height: 10vh;
}

