@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');
@import url("normalize.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.4rem;
}

/* 링크 스타일 */
a {
	text-decoration: none;
	color: inherit;
}

/* 버튼 스타일 */
.btn-language, .btn-familysite {
	border: none;
	background: none;
	color: #838383;
	float: right;
	z-index: 10;	
}

html{
	font-size: 10px;
}

.container {
	width: 100%;
	background: #fff;
}

.header, .news, .business, .footer {
	width: 1200px;
	margin: 0 auto;
}
.header-wrap{
	display: block;
	position: sticky;
	top: 0;
	width: 100%;
	height: 90px;
	background: hsla(0,0%,100%,.95);
	z-index: 5;
}
.header {
	/* background: silver; */
	padding: 25px 40px 0 40px;
	height: 90px;
	background: transparent;
	font-size: 1.4rem;
}
.logo {
	float: left;
	margin-top: 8px;
	margin-right: 125px;
	width: 70px;
	height: 25px;
}
.logo img{
	width: 70px;
    height: 25px;
}
.btn-language{
	display: block;
	padding-left: 20px;
    padding-right: 20px;
	text-align: left;
    width: 130px;
    height: 40px;
    border-radius: 50px;
    right: 40px;
	cursor: pointer;
	border: 1px solid #c8c8c8;
}
.btn-language::after{
	content: "";
	float: right;
	width: 8px;
	height: 8px;
	border-bottom: 1px solid #838383;
	border-right: 1px solid #838383;
	transform: rotate(45deg);
}
.language-act .btn-language{
	color: transparent;
	border: 1px solid transparent;
}
.language-act .btn-language::after{
	transform: rotate(-135deg);
}
.language-list {
	position: absolute;
	width: 130px;
	top: 25px;
	right: 200px;
	border: 1px solid #c8c8c8;
	color: #838383;
	background: #fff;
	border-radius: 15px;
	line-height: 1.5rem;
	display: none;
}
.language-act .language-list{
	display: block;
	z-index: 3;
}
.language-item {
	display: block;
	width: 130px;
	height: 30px;
}
.language-item a{
	display: block;
	line-height: 38px;
	margin: 1px 0;
	padding: 0 10px;
	
}
.menu {
	float: left;
	width: 780px;
	height: 40px;
	font-size: 1.7rem;
	font-weight: 400;
}
.menu-item {
	float: left;
	line-height: 40px;
	padding: 0 25px 25px 25px;
	position: relative;
}
.sitemap {
	float: right;
	line-height: 40px;
	padding: 0 25px 25px 25px;
	color: #838383;
}
.menu-item a:hover, .sub-menu-item a:hover{
	color: #00b900;
}
.menu-item.sitemap a:hover, .mission-menu a:hover{
	color: #838383;
}
.sub-menu {
	position: absolute;
	/* top:90px; */
	display: flex;
	justify-content: center;
	background: hsla(0,0%,94%,.95);
	font-size: 1.5rem;
	width: 200vw;
	left:50%;
	top:65px;
	height: 0;
	overflow: hidden;

	transform: translateX(-50%);
	transition: all .5s ease;
}
.menu-item.menu-act .sub-menu {
	height: auto;
	padding-top: 20px;
}
/* .menu-item::after, .menu-item1::after{
	content: "";
    position: fixed;
	top: 90px;
	left: 0;
    width: 100vw;
    background: hsla(0,0%,94%,.95);
	z-index: -3;

	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all .5s ease;
}
.menu-act.menu-item::after {
	height: 90px;
}
.menu-act.menu-item1::after{
    height: 180px;
} */
.sub-menu-item {
	float: left;
	white-space: nowrap;
	padding: 5px 10px;
}
.main {
	background: orange;
}
.mission-bg {
	position: relative;
	width: 100%;
	height: 610px;
	overflow: hidden;
	background: steelblue;
}
.mvclip {
	width: 100%;
	height: 300%;
	left: 0;
	top: -100%;
	position: absolute;
}
.mission {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: lime;
}
.mission-menu{
	color: #838383;
	line-height: 2.8rem;
}
.news{
	background: orchid;
}
.business-bg{
	background: #f9f9f9;
}
.business {
	background: aqua;
}
.footer {
	position: relative;
	background: purple;
	font-size: 1.4rem;
}
.familysite-list {
	width: 220px;
	height: 40px;
	border-radius: 15px;
	border: 1px solid silver;
	overflow: hidden;
}
.familysite-item {
	width: 220px;
	height: 40px;
}